@model IEnumerable<Milestone.Models.SavedGameModel>

@{
    ViewData["Title"] = "ShowSavedGames";
}

<h1>ShowSavedGames</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Time
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.GameName)</td>                 
            <td>@Html.DisplayFor(modelItem => item.Time)</td>                            
            <td>@Html.DisplayFor(modelItem => item.Date)</td>                
            
            <td>
                @Html.ActionLink("Restore", "Edit", new { /* id=item.PrimaryKey */ }) |

                @Html.ActionLink("Delete", "Delete", "Minesweeper", new {id = item.UserId}, null)
            </td>
        </tr>
}
    </tbody>
</table>
